<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>rhld16</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://sion.glitch.me/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://sion.glitch.me/css/chmas.css">
    <link href="//vjs.zencdn.net/7.8.2/video-js.min.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/7.8.2/video.min.js"></script>
    <script src="https://unpkg.com/@videojs/http-streaming@2.4.0/dist/videojs-http-streaming.min.js"></script>
    <link rel="shortcut icon" href="media/hrana.jpg">
  </head>
  <body>
    <ul class="strand"><li><li><li><li><li><li><li><li><li><li><li><li><li><li><li><li><li><li><li><li><li><li><li><li><li><li><li><li></ul>
    <div class="video-container" id="video-container"><div><video id="localVideo" autoplay muted playsinline></video></div></div>
    <div id="mainstage">
      <div id="canvas">
        <canvas id="myCanvas"></canvas>
        <canvas style="display: none;" id="game"></canvas>
      </div>
      <div id="rr">
        <video-js id="hideo" class="vjs-default-skin" controls preload="auto" width="auto" height="90%">
          <source id="hsrc" src="https://boyssmp.ga/media/Rickroll.mp4" type="application/x-mpegURL">
        </video-js>
      </div>
      <span onclick="mute();" href="#" class="float"><i class="fas fa-microphone-slash my-float"></i></span>
      <span onclick="hide();" href="#" class="floatcam"><i class="fas fa-video-slash my-floatcam"></i></span>
    </div>
    <div id="sidebar">
      <div id="users">
        <strong>Active Users:</strong>
        <ul id="userslist"></ul>
      </div>
      <div id="rooms">
        <strong id ="room">Room:</strong>
        <ul id="roomlist"></ul>
      </div>
      <div id="messages">
        <ul id="messageslist"></ul>
      </div>
    </div>
    <div id="bottom">
      <button id="undo">Undo</button>
      <button id="color">Choose Color</button>
      <div id="sizediv">
        <button id="sizeb">Size</button>
        <input type="range" min="1" max="90" value="5"  oninput="current.size=(this.value)" id="size">
      </div>
      <select id="type" name="type" onchange="current.type=(this.value)"><option value="pen">Pen</option><option value="square">Square</option><option value="circle">Circle</option></select>
      <form action="">
        <input id="m" class="mousetrap"/>
        <button id="send">Send</button>
        <button id="share">Screen</button>
      </form>
    </div>
    <div id="preload" class="drop">
      <div id="instruc"><h3>To join, type in a username below and press Enter</h3></div>
      <label for="inp" class="inp">
        <input type="text" id="inp" placeholder="&nbsp;" />
        <span class="label">Username</span>
        <span class="focus-bg"></span>
      </label>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simple-peer/9.9.3/simplepeer.min.js"></script>
  <script src="/socket.io/socket.io.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/SoundJS/1.0.2/soundjs.min.js"></script>
  <script src="https://sion.glitch.me/ps/libs.min.js"></script>
  <script src="https://sion.glitch.me/ps/main.min.js"></script>
  <script src="https://sion.glitch.me/ps/drawing.min.js"></script>
</html>
