<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>rhld16</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="video-container" id="video-container"><div><video data-tilt id="localVideo" width="350px" autoplay muted playsinline></video></div></div>
    <div id="mainstage">
        <video id="hideo" controls width="auto" height="90%" style="z-index:99; display:none;"></video>
    </div>
    <span onclick="mute();" href="#" class="float"><i class="fas fa-microphone-slash my-float"></i></span>
    <span onclick="hide();" href="#" class="floatcam"><i class="fas fa-video-slash my-floatcam"></i></span>
    <div id="sidebar">
      <div id="messages">
        <ul id="messageslist"></p>
      </div>
    </div>
    <div id="bottom">
      <form id="chat">
        <input id="m""/>
        <button id="send">Send</button>
        <button id="share">Screen</button>
      </form>
    </div>
  </body>
  <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simple-peer/9.9.3/simplepeer.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/SoundJS/1.0.2/soundjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/tilt.js@1.2.1/src/tilt.jquery.min.js"></script>
  <script src="main.js"></script>
</html>