<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Homemade websocket video chat made for myself.">
    <title>rhld16</title>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="video-container" id="video-container">
      <div id="localDiv"><video id="localVideo" width="350" autoplay muted playsinline></video></div>
    </div>
    <div id="mainstage"><video id="hideo" width="auto" autoplay playsinline></video></div>
    <span onclick="mute();" href="#" class="float"><i class="fas fa-microphone-slash my-float"></i></span>
    <span onclick="hide();" href="#" class="floatcam"><i class="fas fa-video-slash my-floatcam"></i></span>
    <div id="sidebar">
      <div id="messages">
        <ul id="messageslist"></ul>
      </div>
    </div>
    <div id="bottom">
      <form id="chat">
        <div class="input-group mb-3">
          <input placeholder="Type..." type="text" class="form-control w-75" id="m"/>
          <div class="input-group-append">
            <button class="btn btn-success" type="send">Send</button>
          </div>
        </div>
        <button class="btn btn-light" type="button" id="share">Screen</button>
      </form>
    </div>
  </body>
  <script>if (location.protocol !== "https:") {location.protocol = "https:";}</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simple-peer/9.11.0/simplepeer.min.js"></script>
  <script src="main.js"></script>
</html>