:root {
  --main-color: #3685B5;
  --button-color: #fff;
}
html,
body {
  font: 13px Helvetica, Arial;
  height: 100%;
  overflow: hidden;
  margin: 0px;
}
.video-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: var(--main-color);
  position: absolute;
  top: 0px;
  width: 70%;
  z-index: 9;
  height: 200px;
}
.video-container div {
  height: 200px;
    position: relative;
  width: auto;
    display:inline;
}
 .overlaybr {
   position:absolute;
   width: auto;
   max-width: 100px;
   left:-60px;
   top:0px;
}
#bottom {
  background: var(--main-color);
  padding: 3px;
  position: absolute;
  bottom: 0px;
  width: 70%;
  display: inline-block;
}
#bottom * {
  display: inline;
}
button, select, input {
  background: var(--button-color);
  border: none;
  padding: 10px 10px 10px 10px;
}
select {
  -moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
}
form > input {
  width: 50%;
}
.huebee-container {
  top: auto;
  bottom: 50px;
}
#mainstage {
  pointer-events: auto;
  position: relative;
  top: 200px;
  height: 60%;
  width: 70%;
}
#canvas,
#rr {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  touch-action: none;
  cursor: url(Pencil_Cursor.png), none;
}
#canvas * {
  position: relative;
  width: 100%
}
#rr {
  display: none;
  z-index: 9;
}
#sizediv {
  position:relative;
  display: inline;
}
#sizediv input {
  position:absolute;top:-50px;left:5px;
  z-index:10;
  display:none;
}
#preload {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--main-color);
  z-index: 66;
}
#preload img {
  width: auto;
  height: 100px;
  position: fixed;
  left: 5px;
  bottom: 0px;
  z-index: 67;
}
#instruc * {
  justify-content: center;
  display: flex;
  margin: 0 auto;
  color: #fff;
}
#sidebar {
  z-index: 9;
  width: 30%;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 16px;
}
#sidebar ul {
  list-style-type: none;
  padding: 0px 10px;
  color: white;
}
#rooms input {
  padding: 0px;
  margin: 0px;
  width: 100px;
}
#users {
  position: relative;
  padding-top: 5px;
  padding-right: 20%;
  float: left;
}
#rooms {
  position: absolute;
  left: 150px;
  top: 5px;
}
#messageslist {
  position: relative;
}
#messages {
  position: fixed;
  width: 30%;
  top: 30%;
  bottom: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}
.floatcam, .float {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0px;
  background-color: #0C9;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 9;
  cursor: pointer;
}
.float {
  right: 20px;
}
.floatcam {
  right: 90px;
}
.my-float, .my-floatcam {
  margin-top: 22px;
}
/*---------------------------------------------------------------*/
.inp {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 37.5%;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;
}
.inp .label {
  position: absolute;
  top: 20px;
  left: 12px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}
.inp .focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}
.inp input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 16px 12px 0 12px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3);
  color: #000;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5);
}
.inp input:not(:placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus {
  background: rgba(0, 0, 0, 0.05);
  outline: none;
  box-shadow: inset 0 -2px 0 #0077FF;
}
.inp input:focus + .label {
  color: #0077FF;
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}
/* huebee css */
.huebee{position:absolute;z-index:1;transform:translateY(0);transition:opacity .15s,transform .15s}.huebee.is-hidden{opacity:0;transform:translateY(10px)}.huebee.is-static-open{position:relative;z-index:auto}.huebee__container{position:absolute;left:0;top:auto;bottom:45px;padding:10px;background:#eee;border-radius:5px;box-shadow:0 5px 10px hsla(0,0%,0%,.3)}.huebee.is-static-open .huebee__container{position:relative;display:inline-block;left:auto;top:auto;box-shadow:none}.huebee__canvas{display:block;cursor:pointer}.huebee__cursor{width:15px;height:15px;position:absolute;left:0;top:0;box-sizing:content-box;border:3px solid #fff;border-radius:5px;pointer-events:none}.huebee__cursor.is-hidden{opacity:0}.huebee__close-button{display:block;position:absolute;width:24px;height:24px;top:-9px;right:-9px;border-radius:12px;background:#222}.huebee__close-button__x{stroke:#fff;stroke-width:3;stroke-linecap:round}.huebee__close-button:hover{background:#fff;cursor:pointer}.huebee__close-button:hover .huebee__close-button__x{stroke:#222}